<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="static/js/paper.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/paperscript" canvas="myCanvas">

	var image = (function () {
		var json = null;
		$.ajax({
			'async': false,
			'global': false,
			'url': "json",
			'dataType': "json",
			'success': function (data) {
				json = data;
			}
		});
		return json;
	})(); 


	var maxCount = image.analog_data.length;
	var count = 0;
	var draw = true;
	var scale = 2.0;
	var myPath = new Path();

	myPath.strokeColor = 'black';
	myPath.strokeWidth = 1.0 / scale ;


function onFrame(event) {
        if (draw) {
            if (count < maxCount) {
            for(var i=count; i<count + image.size[0]; i++){
                if( i < maxCount ){
                    var p = new Point(image.analog_data[i]);
                    myPath.add(p);
                    //point = new Path.Circle(p, 1.0 / scale / 3.0 )
                    //point.fillColor = 'black';
                    //view.center = p; 
                }
            }
            count += image.size[0];
        } else {
                        draw = false;
            //onResize(event)
                }
        }
}

function onResize(event) {
      view.center = myPath.bounds.center;
      view.zoom = scale;
}

/*function onMouseUp(event) {
      view.center = myPath.bounds.center;
      view.zoom = scale;
}*/

function sign(x) {
    return x > 0 ? 1 : x < 0 ? -1 : 0;
}


function onMouseDrag(event) {
    if (Key.isDown('control')){
        new_zoom = view.zoom - 0.05 * sign(event.delta.y);
        if( new_zoom > 0.1 && new_zoom < 15.0 ){
            view.zoom = new_zoom;
        }
    }else{
            view.scrollBy(event.downPoint - event.point);
    }
}


</script>
</head>
<body>
    <canvas id="myCanvas" resize></canvas>
</body>
</html>

